# Import mysql.connector library
### This enables us to connect into mysql database
In my case I've used mysql database installed together with xampp server in my machine for localhost development tests

In [58]:
import mysql.connector

### Connecting to mysql for the first time

In [59]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

In [60]:
mycursor = mydb.cursor()

In [61]:
mycursor.execute("CREATE DATABASE mydb1")

In [62]:
mycursor.execute("SHOW DATABASES")

#### creating database called mydb1

In [63]:
for db in mycursor:
    print(db)

('clinic',)
('custom_v3',)
('information_schema',)
('mydb1',)
('mysql',)
('performance_schema',)
('pharm2',)
('pharmacy',)
('phpmyadmin',)
('portal',)
('pos',)
('pos2',)
('students_portal',)
('test',)
('uni',)
('uni2',)

### Connecting to mydb1 database 
Creating table names inside mydb1 with 3 comlumns - first name, middle name, and last name

In [64]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydb1"
)

In [65]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE names (first_name VARCHAR(255), middle_name VARCHAR(255), last_name VARCHAR(255))")

## import names library
This will be used for creating and populating random names into the table

In [66]:
import names

### Populating random names into database

In [67]:
sql_query = "INSERT INTO names (first_name, middle_name, last_name) VALUES (%s, %s, %s)"

for i in range(1000):
    nm = (names.get_first_name(gender="female"), names.get_first_name(gender="male"), names.get_last_name())
    mycursor.execute(sql_query, nm)
    mydb.commit()

#### Getting the first item in the database

In [68]:
mycursor.execute("SELECT * FROM names")
entry = mycursor.fetchone()

In [69]:
item = list(entry)
item

['Natalie', 'Jeffrey', 'Cox']

#### Checking the largest string in the first row and displaying output

In [70]:
largest = ''
largestcount=0
length = 0
for i in range(3):
    if(len(item[i]) == length):
        largestcount +=1
    elif(len(item[i]) > length):
        largest = item[i]
        largestcount = 1
        length = len(item[i])
if(largestcount > 1):
    print('We have', largestcount, 'largest strings with', length, 'characters')
else:
    print('The largest string is:', largest)

We have 2 largest strings with 7 characters

##### Ref.
1. SQL Tutorial https://www.w3schools.com/sql/
2. MySQL in Python Tutorial: Getting Started https://www.datacamp.com/community/tutorials/mysql-python?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=278443377095&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=1010225&gclid=CjwKCAiAgvKQBhBbEiwAaPQw3IoEhWCUJbxpCXgL2uuZO4Y5e_PaLiSWC64LO9hj5eR5d0DCJdMZKBoCKD4QAvD_BwE
3. xampp server https://www.apachefriends.org/index.html
4. mysql-connector-python 8.0.28 https://pypi.org/project/mysql-connector-python/
5. names https://pypi.org/project/names/